@charset "UTF-8";

/* COMEÇANDO PELAS EDIÇOS DO CELULAR -- Media Query */


/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /* faz com que a borda faça parte da conta de largura, por padrão, ele conta por dentro da borda */
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* tudo que tiver fora da borda, vai ficar escondido */


    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-scott.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}